@charset "utf-8";

body {
  text-align: center;
  font-family: sans-serif;
  background: #fefefe;
}
img {
  max-width: 100%;
}


.header {
  position: relative;
  padding:  50px 0;
  background: url("../images/bg.png");
}

.logo {
  margin: 80px auto;
  text-align: center;
}
.logo img {
  max-width: 100%;
  width: 65%;
  margin: 0 auto;
}
.logo h2 {
  font-weight: bold;
  margin: 15px auto;
  font-size: 26px;
}
.logo p {
  font-size: 20px;
}
.download {
  margin: 20px 0;
}
.download > div {
  width: 48%;
  margin: 0 1%;
}
.download img {
  height: 60px;
  width: auto;
  margin: 0 auto;
}

.screenshot img {
  max-width: 100%;
  width: 80%;
}

.dragon {
  position: absolute;
  width: 300px;
  right: 0;
  bottom: 150px;
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.fuwafuwa {
	-webkit-animation-name:fuwafuwa;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	/*-webkit-animation-direction:alternate;*/
	-webkit-animation-timing-function:ease;

	-moz-animation-name:fuwafuwa;
	-moz-animation-duration:2s;
	-moz-animation-iteration-count:infinite;
	/*-moz-animation-direction:alternate;*/
	-moz-animation-timing-function:ease;
}
@-webkit-keyframes fuwafuwa {
	0% {-webkit-transform:translate(0, 0);}
	50% {-webkit-transform:translate(0, -10px);}
	100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes fuwafuwa {
	0% {-moz-transform:translate(0, 0);}
	50% {-moz-transform:translate(0, -10px);}
	100% {-moz-transform:translate(0, 0);}
}

h1.headline {
  margin: 0;
	padding: .5em .75em;
	-webkit-background: repeating-linear-gradient(45deg, #3498db, #3498db 5px, #69b4e6 5px, #69b4e6 10px);
	background: repeating-linear-gradient(45deg, #3498db, #3498db 5px, #69b4e6 5px, #69b4e6 10px);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}


.feature img {
  width: 70%;
}
.feature .row {
  margin: 70px 0;
}

h1.catch {
  font-weight: bold;
}
.feature {
  font-size: 20px;
}

.games ul {
  margin: 50px 0;
}
.games ul li {
  margin: 0 15px;
}
.games img {
  width: 150px;
  border-radius: 30px;
}

footer {
  margin-top: 50px;
  background: #333;
  color: #ddd;
  padding: 20px 0;
}

footer a, footer a:visited{
  color: #fff;
}
