
.header {
  position: relative;
  padding:  50px 0;
  background: url("../images/bg.png");
}

.logo {
  margin: 80px auto;
  text-align: center;

  h2 {
    font-weight: bold;
    margin: 15px auto;
    font-size: 1.6em;
  }
  p {
    font-size: 1.2em;
    margin: 0 10%;
  }
}
#logo {
  width: 65%;
  margin: 0 auto;
}

.download {
  margin: 20px 0;
  img {
    height: 60px;
    width: auto;
    margin: 0 auto;
  }
}

.screenshot {
  overflow: hidden;
  img {
    width: 80%;
  }
}

//スマホ版
@media (max-width: 1000px) {
  .screenshot {
    height: 1100px;
  }
  .dragon img { width: 100%; }
  #logo { width: 80%; }
  #logo img {
    width: 100%;
    margin: 0 auto;
  }
  .feature .col-lg-4 { margin-bottom: 70px; }
}

.dragon {
  position: absolute;
  width: 300px;
  right: 0;
  bottom: 150px;
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  img { width: 60%; }
}
.fuwafuwa {
	-webkit-animation-name:fuwafuwa;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	/*-webkit-animation-direction:alternate;*/
	-webkit-animation-timing-function:ease;

	-moz-animation-name:fuwafuwa;
	-moz-animation-duration:2s;
	-moz-animation-iteration-count:infinite;
	/*-moz-animation-direction:alternate;*/
	-moz-animation-timing-function:ease;
}
@-webkit-keyframes fuwafuwa {
	0% {-webkit-transform:translate(0, 0);}
	50% {-webkit-transform:translate(0, -10px);}
	100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes fuwafuwa {
	0% {-moz-transform:translate(0, 0);}
	50% {-moz-transform:translate(0, -10px);}
	100% {-moz-transform:translate(0, 0);}
}

h1.headline {
  margin: 0;
	padding: .5em .75em;
	-webkit-background: repeating-linear-gradient(45deg, #3498db, #3498db 5px, #69b4e6 5px, #69b4e6 10px);
	background: repeating-linear-gradient(45deg, #3498db, #3498db 5px, #69b4e6 5px, #69b4e6 10px);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}



/*******************
Feature
*******************/
.feature {
  .row { margin: 70px 0; }
  img { width: 70%; }
}

h1.catch {
  font-weight: bold;
}

.games ul {
  margin: 50px 0;
}
.games ul li {
  margin: 0 15px;
}
.games img {
  width: 100px;
  border-radius: 30px;
}

footer {
  margin-top: 50px;
  background: #333;
  color: #ddd;
  padding: 20px 0;

  a, a:visited{ color: #fff; }
  small { font-size: 0.8em; }
}


#iphone-btn { margin-bottom: 20px; }
#android-btn { position: relative; }

.comingsoon {
  width: 172px;
  height: 60px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  /*background: rgba(255,255,255,0.7);*/
  background: #fff;

  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  z-index: 2;

  img {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

//スマホ版
@media (max-width: 1000px) {
  #iphone-btn img {
    width: 50%;
    height: auto;
  }
  .comingsoon {
    display: none;
  }
}



.feature_box {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
#feature_1 {
  background: url("../images/main.png");
  background-size: cover;
  background-position: top center;
}
