/* line 2, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.header {
  position: relative;
  padding: 50px 0;
  background: url("../images/bg.png"); }

/* line 8, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.logo {
  margin: 80px auto;
  text-align: center; }
  /* line 12, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .logo h2 {
    font-weight: bold;
    margin: 15px auto;
    font-size: 1.6em; }
  /* line 17, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .logo p {
    font-size: 1.2em;
    margin: 0 10%; }

/* line 22, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
#logo {
  width: 65%;
  margin: 0 auto; }

/* line 27, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.download {
  margin: 20px 0; }
  /* line 29, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .download img {
    height: 60px;
    width: auto;
    margin: 0 auto; }

/* line 36, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.screenshot {
  overflow: hidden; }
  /* line 38, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .screenshot img {
    width: 80%; }

@media (max-width: 1000px) {
  /* line 45, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .screenshot {
    height: 1100px; }

  /* line 48, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .dragon img {
    width: 100%; }

  /* line 49, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  #logo {
    width: 80%; }

  /* line 50, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  #logo img {
    width: 100%;
    margin: 0 auto; }

  /* line 54, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .feature .col-lg-4 {
    margin-bottom: 70px; } }
/* line 57, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.dragon {
  position: absolute;
  width: 300px;
  right: 0;
  bottom: 150px;
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
  /* line 69, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .dragon img {
    width: 60%; }

/* line 71, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.fuwafuwa {
  -webkit-animation-name: fuwafuwa;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  /*-webkit-animation-direction:alternate;*/
  -webkit-animation-timing-function: ease;
  -moz-animation-name: fuwafuwa;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  /*-moz-animation-direction:alternate;*/
  -moz-animation-timing-function: ease; }

@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -10px); }
  100% {
    -webkit-transform: translate(0, 0); } }
@-moz-keyframes fuwafuwa {
  0% {
    -moz-transform: translate(0, 0); }
  50% {
    -moz-transform: translate(0, -10px); }
  100% {
    -moz-transform: translate(0, 0); } }
/* line 95, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
h1.headline {
  margin: 0;
  padding: .5em .75em;
  -webkit-background: repeating-linear-gradient(45deg, #3498db, #3498db 5px, #69b4e6 5px, #69b4e6 10px);
  background: repeating-linear-gradient(45deg, #3498db, #3498db 5px, #69b4e6 5px, #69b4e6 10px);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

/*******************
Feature
*******************/
/* line 110, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.feature .row {
  margin: 70px 0; }
/* line 111, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.feature img {
  width: 70%; }

/* line 114, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
h1.catch {
  font-weight: bold; }

/* line 118, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.games ul {
  margin: 50px 0; }

/* line 121, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.games ul li {
  margin: 0 15px; }

/* line 124, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.games img {
  width: 100px;
  border-radius: 30px; }

/* line 129, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
footer {
  margin-top: 50px;
  background: #333;
  color: #ddd;
  padding: 20px 0; }
  /* line 135, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  footer a, footer a:visited {
    color: #fff; }
  /* line 136, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  footer small {
    font-size: 0.8em; }

/* line 140, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
#iphone-btn {
  margin-bottom: 20px; }

/* line 141, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
#android-btn {
  position: relative; }

/* line 143, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.comingsoon {
  width: 172px;
  height: 60px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  /*background: rgba(255,255,255,0.7);*/
  background: #fff;
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  z-index: 2; }
  /* line 158, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .comingsoon img {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }

@media (max-width: 1000px) {
  /* line 169, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  #iphone-btn img {
    width: 50%;
    height: auto; }

  /* line 173, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
  .comingsoon {
    display: none; } }
/* line 180, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
.feature_box {
  width: 100%;
  height: 400px;
  overflow: hidden; }

/* line 185, /Users/tomomichi/Documents/projects/geibe_lp/source/stylesheets/style.css.scss */
#feature_1 {
  background: url("../images/main.png");
  background-size: cover;
  background-position: top center; }
