---
title: ゲーイベ！ ゲームのイベント情報おまとめ通知アプリ
---

.container-fluid
  .row.header
    .col-lg-7.logo.text-center
      %h1
        %img(src="./images/logo_text.png")
      %h2 ゲームのイベント情報おまとめ通知アプリ
      %p
        国内主要ゲームのイベント情報を完全網羅！
        %br
        自分が遊んでいるゲームの情報を自動で整理、
        %br
        開始時にプッシュ通知でお知らせしてくれる
        %br
        超便利サービス、それが「ゲーイベ！」です。
      %div.download.clearfix
        %div.pull-left.text-right
          %a(href="https://itunes.apple.com/us/app/geibe!-gemunoibento-qing-baoomatome/id1018872274?l=ja&ls=1&mt=8" target="_blank")
            %img(src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" alt="" data-hires-status="pending")
        %div.pull-right.text-left#android-btn
          %div.comingsoon
            Coming soon..
          %img(src="./images/android.png" alt="")
    .col-lg-5.screenshot.text-left
      %img(src="./images/main.png")
      .dragon.fuwafuwa
        %img(src="./images/dragon.png")

%section.feature
  %h1.headline ゲーイベ！ここがすごい！
  .container
    .row
      .col-lg-4
        /#feature_1.feature_box
        %img(src="./images/640x960_1.png")
        %h1.catch 人気ゲームのイベント完全網羅！
        %p
          モンストやパズドラで毎日開催される大量のイベントを自動で収集！
          カレンダー形式で見やすく整理してくれます。
      .col-lg-4
        /#feature_2.feature_box
        %img(src="./images/640x960_2.png")
        %h1.catch 開始時通知でイベント見逃さない！
        %p
          モンストやパズドラで毎日開催される大量のイベントを自動で収集！
          カレンダー形式で見やすく整理してくれます。
      .col-lg-4
        /#feature_3.feature_box
        %img(src="./images/640x960_3.png")
        %h1.catch モンストの神化素材も予約可能！
        %p
          モンストやパズドラで毎日開催される大量のイベントを自動で収集！
          カレンダー形式で見やすく整理してくれます。


%section.games
  %h1.headline 対応タイトル
  .container
    .row
      %ul.list-inline
        %li
          %img(src="./images/icon/monsterstrike.jpeg")
        %li
          %img(src="./images/icon/puzzleanddragons.jpeg")
        %li
          %img(src="./images/icon/coloplquizwiz.jpeg")
        %li
          %img(src="./images/icon/chronicle.jpeg")
        %li
          %img(src="./images/icon/bravefrontier.jpeg")
    .row
      %p 対応タイトルは今後順次拡大予定です。お楽しみに！

%footer
  %p Copyright 2015 ゲーイベ！  All rights reserved.
  %ul.list-inline
    %li
      %a(href="https://storage.googleapis.com/geibe.rooter.co.jp/html/kiyaku.html" target="_blank") 利用規約
    %li
      %a(href="https://storage.googleapis.com/geibe.rooter.co.jp/html/privacy.html" target="_blank") プライバシーポリシー
    %li
      %a(href="http://rooter.jp/" target="_blank") 運営会社
